<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="basePath">logs</Property>
    </Properties>
    <Filter type="ThresholdFilter" level="debug"/>

    <Appenders>

        <RollingFile name="fileLogger" fileName="${basePath}/debug.log" filePattern="debug_%d{MM-dd-yyyy}.log">
            <PatternLayout>
                <Pattern>%d{MM-dd-yyyy HH:mm:ss.SSS} %-5level [%logger{36}] - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>

        <Console name="Console">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%logger{36}] - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="LoggingExample" level="debug">
            <AppenderRef ref="fileLogger" level="debug"/>
        </Logger>
        <Root level="all">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="fileLogger"/>
        </Root>

    </Loggers>
</Configuration>